@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-title: 'Playfair display';
    --font-body: 'DM Sans';
    --color-bg-warm: #f9f6f1;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 10;
}

.input_nav,
.p_work,
.description,
.collab,
button, li a, .about_text, .labelOverview{
    font-family: var(--font-body);
}

.h1_hero, .h1_about, .numberOverview {
    font-family: var(--font-title);
}

.heroSpanName, .about_span_me {
    font-style: italic;
}
.nav_link {
  position: relative;
  padding-bottom: 4px;
}

.nav_link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s ease;
}

.nav_link:hover::after {
  width: 100%;
}
body {
    background-color: var(--color-bg-warm);
}
body,html{
    scroll-behavior: smooth;
}