@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-title: 'Playfair display';
    --font-body: 'DM Sans';
    --color-bg-warm: #f9f6f1;
    --color-bg-white: #ffffff;
    --color-red-hover: #7f1d1d;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.input_nav,
.p_work,
.description,
.collab,
button,
li a,
.about_text,
.labelOverview,
.h4_courses,
.courses_view,
.learning_title,
.backgound_exp,
.who,
.org,
.role,
.year,
.p_footer,
.touch {
    font-family: var(--font-body);
}

.h1_hero,
.h1_about,
.numberOverview,
.h1_learning text,
.p_courses,
.ready {
    font-family: var(--font-title);
}

.heroSpanName,
.about_span_me,
.span_learning {
    font-style: italic;
}

.nav_link {
    position: relative;
    padding-bottom: 4px;
}

.nav_link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
}

.nav_link:hover::after {
    width: 100%;
}

.group {
    border-left: 2px solid transparent;
    padding-left: 1.5rem;
    transition: all 0.3s ease;
    margin-left: -1px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.group:hover {
    border-left: 2px solid var(--color-red-hover);

}

.experiences {
    background-color: var(--color-bg-white);
}


body {
    background-color: var(--color-bg-warm);
}

body,
html {
    scroll-behavior: smooth;
}